.parent {
  position: relative;
  width: 300px;
  height: 200px;
  background: lightgray;
  margin: 50px;
}

.child {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  padding: 10px;
}

.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: black;
  color: white;
  padding: 10px;
}
