:root {
  --main-color: blue;
}

h1 {
  color: var(--main-color);
}

button:hover {
  background-color: red;
}

p::before {
  content: "Note: ";
  color: red;
}

.box {
  width: 200px;
  height: 80px;
  border: 1px solid black;
  overflow: auto;
}

.glass {
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-top: 20px;
}
