.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background: #eee;
  padding: 20px;
}

.box {
  width: 60px;
  height: 60px;
  background: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
